{
  "type": "mysql",
  "host": "db",
  "port": 3306,
  "username": "root",
  "password": "root",
  "database": "areyouinfordinner",
  "entities": ["src/**/**.entity{.ts,.js}"],
  "synchronize": true,
  "emitDecoratorMetadata": true,
  "experimentalDecorators": true,
  "migrations": [
    "src/migrations/*.js"
  ],
  "cli": {
    "migrationsDir": "src/migrations"
  }
}