html
head
    link(rel="stylesheet" href="build/" + manifest['index.css.css'])
body
    .hero.is-primary.is-large
        .hero-head
            .navbar
                .container
                    .navbar-brand
                        .navbar-item
                            a(href="/") AreYouInForDinner
                    .navbar-menu
                        .navbar-end
                            .navbar-item
                                iframe(src="https://ghbtns.com/github-btn.html?user=bashleigh&repo=areyouinfordinner-app&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px")
        .hero-body
            .container
                h1.title Are you in for dinner
                h2.subtitle A notification app for tracking who's in for dinner in your household
                p or uni dorm etc.
                p Built to prove my mum wrong!

    section.section
        .container
            .columns
                .column.is-half-desktop
                    h2.title Let your family know if you're in for dinner or not
                    p.subtitle Are you tired of arguing about whether you said you was or wasn't in for dinner?
                    p Well, I built an app for that. I got fed up of the "I said I was in for dinner tonight!" argument with my mum every night and going hungry.
                    p As well as the "I didn't know you was going to be in" argument when I made dinner for myself only
                .column.is-half-desktop.has-text-centered
                    img(src="burger.png")

    section.section
        .container
            .columns
                .column
                    h1.title How it works

    footer.footer
        .container
            .columns
                .column
                    p="Are you in for dinner "
                        a(href="http://ashleighsimonelli.co.uk") Created by Bashleigh
